<header class="header">
    <div class="header-wrapper">
        <div class="main-header">
            <a href="{% url 'main_page' %}">NPvis</a>
            <p>Visualizer for MS/MS fragmentation of NPs by <a class="hdr-link" href="https://cab.spbu.ru/">CAB</a></p>
        </div>

        <div class="hdr-btn">
            <a href="https://cab.spbu.ru/software/npvis/">About</a>
            <a href="https://github.com/ablab/NPvis">Help</a>
            <a href="https://github.com/ablab/NPvis/releases">Download</a>
            <a class="mail" href="mailto:aleksey.gurevich@spbu.ru">Contact</a>
        </div>
    </div>
</header>