{% load static %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <title>NPvis</title>
        
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.flot.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.flot.canvas.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.flot.selection.js' %}"></script>
    
        <script type="text/javascript" src="{% static 'js/specview_mod.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/peptide.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/aminoacid.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ion.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ChemDoodleWeb-libs.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ChemDoodleWeb.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/lorikeet.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/additional.css' %}" />
        <link rel="stylesheet" href="{% static 'css/npvis.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom_dropdown.css' %}">
    </head>
    <body>

    {% include 'npvis_app/header.html' %}

	<main class="main-content">
		<input type="checkbox" class="close-input-button" id="close-input-button-id">
        <label for="close-input-button-id" class="close-input-button-label">
            <span class="close-input-button-icon">
                &laquo;
            </span>
        </label>

        <div class="content-input-wrapper">
            <section class="upload-sec">
			<form method="POST" class="upload-form" enctype="multipart/form-data"> {% csrf_token %}
				<div class="input-section">
                    <h1>Mode</h1>
                    <div class="custom-select">
                        <select id="id_mode_type" name="mode_type">
                            <option value="PNP" {% if mode_type == "PNP" %} selected {% endif %}>PNP</option>
                            <option value="PNPmd" {% if mode_type == "PNPmd" %} selected {% endif %}>PNP with modification</option>
                        </select>
                    </div>
                </div>

                <div class="input-section">
					<h1>MS/MS data</h1>
                    <div class="custom-select">
                        <select id="id_ms_input_type" name="ms_input_type">
                            <option value="mgf" {% if ms_input_type == "mgf" %} selected {% endif %}>File(MGF/mzXML/mzML)</option>
                            <option value="gusi" {% if ms_input_type == "gusi" %} selected {% endif %}>GNPS USI</option>
                        </select>
                    </div>

                    <div id="spect-upload-file-id">
                    <div class="upload-file">
						<button class="upload btn"> Upload </button>
						<div class="upload-input"> Choose file... </div>
						<input type="file" name="inputSpectrum" required="" id="id_inputSpectrum" onchange="changeFileName(this)" title = "Choose file in mgf format...">
					</div>
                        <div class="oneline">
                            <p class="input-name-p">Scan ID:</p> <input type="number" class="custom-input" value="0" id="id_inputScanID" name="inputScanId" min="0">
                        </div>
                    </div>
				</div>

				<div class="input-section">
					<h1>Chemical Structure</h1>
                    <div class="custom-select">
                        <select id="id_struct_input_type" name="struct_input_type">
                            <option value="mol" {% if struct_input_type == "mol" %} selected {% endif %}>File(MOL)</option>
                            <option value="smiles" {% if struct_input_type == "smiles" %} selected {% endif %}>SMILES</option>
                        </select>
                    </div>

                    <div id="struct-upload-file-id">
                    <div class="upload-file">
						<button class="upload btn"> Upload </button>
						<div class="upload-input"> Choose file in mol format... </div>
						<input type="file" name="inputStructure" required="" id="id_inputStructure" onchange="changeFileName(this)"  title = "Choose file in mol format...">
					</div>
                    </div>
				</div>

                <div class="input-section">
                    <h1>Error tolerance threshold</h1>
                    <div class="oneline">
                        <input class="custom-input" type="number" step="0.001" value="{{error_thr}}" name="error_thr">
                        <div class = "wrapper-sml-select">
                        <div class="custom-select">
                            <select id="id_error_type" name="error_type">
                            <option value="absolute" {% if error_type == "absolute" %} selected {% endif %}>Da</option>
                            <option value="relative" {% if error_type == "relative" %} selected {% endif %}>ppm</option>
                            </select>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="right-align">
                    <div class="wrapper">
                    <button type="button" class="btn small-label" onclick="loadSampleData()">Load Sample Data</button>
                    </div>
                    <div class="wrapper">
                    <button type="button" class="btn small-label smlen" onclick="location.href='{% url 'main_page' %}'">Reset</button>
                    </div>
                </div>

				<button type="submit" class="submit btn">SUBMIT</button>
			</form>
		</section>
        </div>
		
		{% if npvis_script != "" %}
        <div class="content-vis-wrapper">
		    <section class="vis-sec" id="lorikeet"></section>
            <button type="submit" class="btn right-align small-label dwnbtn" onclick="location.href='{% url 'downloadreport' %}'">Download report</button>
        </div>
        {% endif %}
	</main>

    {% include 'npvis_app/footer.html' %}
	
	<script type="text/javascript">
	    {% autoescape off %}
	        {{npvis_script}}
	    {% endautoescape %}
	</script>
	<script src="{%  static 'js/uploadFile.js' %}"></script>
    <script src="{%  static 'js/changeInputType.js' %}"></script>
    <script src="{%  static 'js/dropDown.js' %}"></script>
    <script src="{%  static 'js/loadSampleData.js' %}"></script>
    <script>
        updateSpectrumInputType("{{ input_spectrum }}", {{ scanid }});
        updateStructureInputType("{{ input_struct }}");
    </script>

    </body>
</html>
