{% load static %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <title>NPvis</title>
        
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.flot.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.flot.canvas.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.flot.selection.js' %}"></script>
    
        <script type="text/javascript" src="{% static 'js/specview_mod.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/peptide.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/aminoacid.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ion.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ChemDoodleWeb-libs.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ChemDoodleWeb.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/lorikeet.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/additional.css' %}" />
        <link rel="stylesheet" href="{% static 'css/npvis.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom_dropdown.css' %}">
    </head>
    <body>
	<header class="header">
		<p>NPvis</p>
	</header>

	<main class="main-content">
		<input type="checkbox" class="close-input-button" id="close-input-button-id">
        <label for="close-input-button-id" class="close-input-button-label">
            <span class="close-input-button-icon">
                &raquo;
            </span>
        </label>

        <div class="content-input-wrapper">
        <div class="wrapper">
            <button class="btn right-align small-label">Load Sample Data</button>
		</div>
            <section class="upload-sec">
			<form method="POST" class="upload-form" enctype="multipart/form-data"> {% csrf_token %}
				<div class="input-section">
                    <h1>Mode</h1>
                    <div class="custom-select">
                        <select id="id_mode_type" name="mode_type">
                            <option value="PNPmd"><p>PNP with modification</p></option>
                        </select>
                    </div>
                </div>

                <div class="input-section">
					<h1>MS/MS data</h1>
                    <p>Input type:</p>
                    <div class="custom-select">
                        <select id="id_ms_input_type" name="ms_input_type">
                            <option value="mgf"><p>MGF</p></option>
                        </select>
                    </div>

                    <p class="p-form-input">MGF file:</p>
					<div class="upload-file">
						<button class="upload btn"> Upload </button>
						<div class="upload-input"> Choose file in mgf format... </div>
						<input type="file" name="inputSpectrum" required="" id="id_inputSpectrum" onchange="changeFileName(this)" title = "Choose file in mgf format...">
					</div>
				</div>

				<div class="input-section">
					<h1>Chemical Structure</h1>
                    <p>Input type:</p>
                    <div class="custom-select">
                        <select id="id_struct_input_type" name="struct_input_type">
                            <option value="mol"><p>mol</p></option>
                            <option value="smiles"><p>SMILES</p></option>
                        </select>
                    </div>

                    <p class="p-form-input" id="struct-input-file-header-id">Mol file:</p>
					<div id="struct-upload-file-id">
                    <div class="upload-file">
						<button class="upload btn"> Upload </button>
						<div class="upload-input"> Choose file in mol format... </div>
						<input type="file" name="inputStructure" required="" id="id_inputStructure" onchange="changeFileName(this)"  title = "Choose file in mol format...">
					</div>
                    </div>
				</div>

                <div class="input-section">
                    <h1>Error tolerance threshold</h1>
                    <p>Error type:</p>
                    <div class="custom-select">
                        <select id="id_error_type" name="error_type">
                            <option value="absolute"><p>Absolute</p></option>
                            <option value="relative"><p>Relative</p></option>
                        </select>
                    </div>

                    <p>Error tolerance threshold:</p>
                    <div class="oneline">
                        <input class="custom-input" type="number" value="1">
                        <div id="error_thr_unit"><p class="fl_label">Da</p></div>
                    </div>
                </div>

				<button type="submit" class="submit btn">SUBMIT</button>
			</form>
		</section>
		</div>
		
		<div class="content-vis-wrapper">
		<section class="vis-sec" id="lorikeet">
		</section>

        <button type="submit" class="btn right-align small-label" onclick="location.href='{% url 'downloadreport' %}'">Download report</button>
		</div>
	</main>
	
	<script type="text/javascript">
	    {% autoescape off %}
	        {{npvis_script}}
	    {% endautoescape %}
	</script>
	<script src="{%  static 'js/uploadFile.js' %}"></script>
    <script src="{%  static 'js/dropDown.js' %}"></script>
    <script src="{%  static 'js/changeInputType.js' %}"></script>

    </body>
</html>
