.custom-select {
  position: relative;
  padding-right: 10px;
  margin-bottom: 10px;
}

.custom-select select {
  display: none;
}

.select-selected {
    background-color: #E5E5E5;
    height: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: left;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 8px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 8px;
}

.select-items div,.select-selected {
    padding-left: 8px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;

    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    color: #585757;
}

.select-items {
  position: absolute;
  background-color: #E5E5E5;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.custom-input {
    background-color: #E5E5E5;
    width: 75px;
    border-width: 0px;
    height: 22px;
    margin-right: 5px;
}

.wrapper-sml-select {
    width: 75px;
}