body {
	margin-left: 0;
}

.header {
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	background: #224FC3;
}

.header-wrapper {
    display: flex;
}

.header .header-wrapper .main-header {
    transform: translateY(5px);
}

.header .header-wrapper .main-header a {
	font-family: Roboto;
	font-weight: bold;
	font-size: 36px;

	color: #E5E5E5;

	margin-left: 20px;
	margin-top: 10px;
    text-decoration: unset;
}

.header .header-wrapper .hdr-btn {
    transform: translateY(12px);
    margin-left: auto;
}

.header .header-wrapper .hdr-btn a {
    color: #E5E5E5;
    font-size: 21px;
    margin: 5px;
    text-decoration: underline;
}

.upload-sec h1 {
	color: #585757;
	font-size: 64px;
	font-weight: bold;
	margin-bottom: 10px;
       text-align: center;	
}

.vis-sec {
   height: 670px;
   width: 1200px;
   /* background: #C4C4C4; */
   margin: 10px;
}

.oneline {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    /* grid-template-columns: auto auto;*/
}

.upload-file {
    position: relative;
    overflow: hidden;
    font-size: 1em;        /* example */
    height: 25px;           /* example */
    line-height: 25px       /* the same as height */
}

.upload-file > button{
    float: right;
    width: 8em;            /* example */
}

.upload-file input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.upload-input {
    height: 25px;
    background: #E5E5E5;
    padding-left: 8px;
    cursor: pointer;

    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    color: #585757;
}

.btn {
    height: 25px;
    border: 0;
    font-size: 17px;
    color: #FCFCFC;
    font-weight: bold;

    background: #224FC4;
}

.wrapper {
    padding-bottom: 10px;
}
.p-form-input {
   font-weight: bold;
   font-size: 24px;
   margin: 0px;
}


.main-content {
    position: relative;
    top: 50px;
    width: 100%;
    margin: 0;
}

.content-input-wrapper {
    position: fixed;
    width: 350px;
    left: 0;
    height: 100%;
    border-left: 2px solid #C4C4C4;
    border-right: 2px solid #C4C4C4;
    padding: 10px;
    background: white;
    z-index: 2;
}

.close-input-button:checked ~ .content-input-wrapper {
    display: none;
}

.content-vis-wrapper {
   position: fixed;
   left: 375px;
   width: calc(100% - 375px);
   top: 50px;
   align-items: center;
   justify-content: center;
   margin: 0;
}

.close-input-button:checked ~ .content-vis-wrapper {
    left: 0;
    width: 100%;
}

.fl_label {
    margin: 0;
    margin-left: 5px;
}

.close-input-button-label {
    position: fixed;
    top:50px;
    margin: 0;
    padding: 0;
    left: 340px;
    z-index: 100;
    background-color: white;
    border: none;
    font-size: 36px;
    font-weight: bold;
    color: #C4C4C4;
}

.close-input-button {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.close-input-button:checked + .close-input-button-label .close-input-button-icon{
    display: none;
}

.close-input-button:checked + .close-input-button-label:after {
    content: "\000BB";
}

.close-input-button:checked + .close-input-button-label {
    left: 10px;
}

.input-section {
    margin-bottom: 40px;
}

.left-align {
    float: left;
}

.right-align {
    float: right;
}
.small-label {
    font-weight: normal;
    font-size: 18px;
}

.submit {
   float: right;
   font-size: 24px;
    width: 100%;
   padding: 5px;
   padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.input-section > h1 {
    color: #585757;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    line-height: 28px;
    font-style: normal;
    font-family: Roboto;
}
.input-section > p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: black;
}

.custom-input-text {
    width: 100%;
    background-color: #E5E5E5;
    height: 20px;
    border-width: 0;
}

.input-name-p {
    margin: 0;
    margin-right: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #C4C4C4;
    height: 50px;
    width: 100%;
    z-index: 3;
    background-color: white;
}

.footer_text_wrapper {
    float: left;
    margin-left: 5px;
}

.copyright {
    position: fixed;
    margin: 10px;
    color: black;
    bottom: 0;
    right: 0;
}

.footer_text_wrapper > p {
    color: grey;
    font-weight: bold;
    margin: 0;
}